[Desktop Entry]
Version=1.0
Type=Application
Name=Nand2Tetris VM Emulator
Exec=/bin/bash -c 'cd `dirname %k` && ./VMEmulator.sh %f'
Categories=Development;IDE;
Terminal=false
